.game {
  display: flex;
  padding: 30px;
}

.frame {
  display: flex;
  flex-wrap: wrap;
  width: 606px;
  height: 606px;
  border: 2px solid;
  background-color: rgb(122, 122, 223);
}

.frame div {
  display: flex;
  border: 1px solid;
  width: 200px;
  height: 200px;
  background-color: aqua;
  font-size: 200px;
  justify-content: center;
  align-items: center;
}
