.game {
  display: flex;
  padding: 30px;
}

.frame {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border: 2px solid;
  background-color: rgb(122, 122, 223);
}

.frame img {
  width: 200px;
  height: 200px;
}

/* comment */
